@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

.app-header {
  text-align: center;
}

.app-body {
  margin: 0rem 2rem 0rem 2rem;
  width: 100vw;
  height: 100vh;
}
